# Python Basics

## Variable:
    - To store a value
    - To change a value
    - It stores all data type values
    Syntax:
        variable_name = value

## Variable Assignment Types:
    - single variable = single value
    - n number of variables = n number of values
    - single variable = n number of values
    - n number of variables = single value

In [1]:
a = 45
a

45

In [2]:
b = 56
b

56

In [3]:
a
b

56

In [4]:
b
a

45

In [5]:
a,b

(45, 56)

In [7]:
c = '78'
c

'78'

In [8]:
d = '12'
print(d)
d

12

'12'

In [9]:
a = 12
b = 45.0512
print(a,b)

12 45.0512

In [10]:
a,b,c,d,e,f = 12,45.021,"Lalitha",True,4+5j,None
print(a,b,c,d,e,f)

12 45.021 Lalitha True (4+5j) None

In [11]:
a,b,c,d,e,f = 12,45.021,"Lalitha",True,4+5j,None,45
print(a,b,c,d,e,f)

ValueError: too many values to unpack (expected 6)

In [12]:
a,b,c,d,e,f = 12,45.021,"Lalitha"
print(a,b,c,d,e,f)

ValueError: not enough values to unpack (expected 6, got 3)

In [13]:
a = 12,45.021,"Lalitha",True,4+5j,None
print(a)

(12, 45.021, 'Lalitha', True, (4+5j), None)

In [14]:
p = k = m = 126
print(p,k,m)

126 126 126

## Data Types:
    - int => numeric
    - float => numeric and decimal values
    - complex => real and imaginary
    - boolean => True or False
    - None => None
    - All Data structures[list,tuple,set,string and dictionary]

## Type:
    - To know the data type of a variable
    Syntax:
        type(variable_name)

In [15]:
r = '45'
print(r,type(r))
type(r)

45 <class 'str'>

str

In [16]:
a,b,c,d,e,f = 12,45.021,"Lalitha",True,4+5j,None
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

12 <class 'int'>
45.021 <class 'float'>
Lalitha <class 'str'>
True <class 'bool'>
(4+5j) <class 'complex'>
None <class 'NoneType'>

## Input Formatting:
    - It displays an info to a user
    - It reads a value from a user
    - By default it reads a string data type value
    Syntax:
        variable_name = input("something info")

In [22]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value:  True

True <class 'str'>

## Typecasting:
    - To change one data type of value to another data type value
    - int()
    - float()
    - complex()
    - bool()
    - All Data Structures like [list(),tuple(),set(),str() and dict()]

In [23]:
n = '78'
print(n,type(n))
k = float(n)
print(k,type(k))

78 <class 'str'>
78.0 <class 'float'>

In [24]:
k = float('78')
print(k,type(k))

78.0 <class 'float'>

In [28]:
n = int(input("Enter a number: "))
print(n,type(n))

Enter a number:  12

12 <class 'int'>

## Operators:
    - Arithmetic => +,-,*,/,%,//,**
    - Assignment => +=,-=,*=,/=,%=,//=,**=
    - Logical => AND,OR,XOR,NOT
    - Bitwise => &,|,^,>>,<<,!
    - Relational => !=,==,>,<,<=,>=
    - Membership => in, not in
    - Identity => is, is not

## Output Formatting:
    - +,
    - %(format specifiers)
    - .format
    - f string

```
Input:
    4 
    3
Output:
    Addition of 4 and 3 is: ?
    Substraction of 4 and 3 is: ?
```

In [37]:
n,m = int(input()),int(input())
print("Addition of",n,"and",m,"is: ",n+m)
print("Substraction of "+str(n)+" and "+str(m)+" is: "+str(n-m))
print("Multiplication of %d and %d is: %d"%(n,m,n*m))
print("Division of {} and {} is: {}".format(n,m,n/m))
print("Modulus of {1} and {0} is: {2}".format(n,m,n%m))
print(f"Floor Division of {n} and {m} is: {n//m}")

 1
 2

Addition of 1 and 2 is:  3
Substraction of 1 and 2 is: -1
Multiplication of 1 and 2 is: 2
Division of 1 and 2 is: 0.5
Modulus of 2 and 1 is: 1
Floor Division of 1 and 2 is: 0

```
Expression: 3x*2+45y+6z*3
Input:
    2 
    5 
    6
Output:
    Entered numbers are: 2,5,6
    Entered numbers are: '2','5','6'
    Given expression is: 3x*2+45y+6z*3 
        and its value is: ?
```

In [1]:
n,m,k = int(input()),int(input()),int(input())
print(f"Entered numbers are: {n},{m},{k}")
print(f"Entered numbers are: '{n}','{m}','{k}'")
print(f"Given expression is 3x^2+45y+6z*3 and its value is: {3*n**2+45*m+6*k**3}")

 2
 5
 6

Entered numbers are: 2,5,6
Entered numbers are: '2','5','6'
Given expression is 3x^2+45y+6z*3 and its value is: 1533