In [1]:
def lennumber(k):
    '''To print the length of a given number'''
    m = 0
    while k!=0:
        m+=1
        k//=10
    return m

def revnumber(a):
    r = 0
    while a!=0:
        r = r*10+a%10
        a//=10
    return r

def evenoddprint(w):
    e = od = 0
    p = revnumber(w)
    while p!=0:
        v = p%10
        if v%2==0:
            e = e*10+v
        else:
            od = od*10+v
        p//=10
    print(f"Even numbers are: {e}")
    print(f"Odd numbers are: {od}")
    return

n = int(input("Enter a number: "))
print(f"Length of {n} is: {lennumber(n)}")
evenoddprint(n)

Enter a number:  45678

Length of 45678 is: 5
Even numbers are: 864
Odd numbers are: 75

In [3]:
print(lennumber.__doc__)

To print the length of a given number

In [2]:
def evodcheck():
    n = int(input("Enter a number: "))
    flag = 0
    if n%2==0:
        flag=1
    return flag

if evodcheck() == 0:
    print("Odd")
else:
    print("Even")

Enter a number:  45

Odd

In [3]:
def evcheck():
    n = int(input("Enter a number: "))
    if n%2==0:
        print("Even")
    else:
        print("Odd")
    return

evcheck()

Enter a number:  4

Even

## Argument Types:
    - Default
    - Required or Positional
    - Keyword
    - Variable Length[Arbitary]
        => Arbitary Keyword
        => Arbitary Positional

## Default Argument

In [5]:
def student(a,b,c="3",d="KEC"):
    print(f"Entered roll is: {a}")
    print(f"Entered name is: {b}")
    print(f"Entered year is: {c}")
    print(f"Entered College code is: {d}")
    return

r = input("Enter your roll number: ")
n = input("Enter your name: ")
student(r,n)

Enter your roll number:  7845
Enter your name:  Lalitha

Entered roll is: 7845
Entered name is: Lalitha
Entered year is: 3
Entered College code is: KEC

In [7]:
def student(a,b="Tarun",c="3",d="KEC"):
    print(f"Entered roll is: {a}")
    print(f"Entered name is: {b}")
    print(f"Entered year is: {c}")
    print(f"Entered College code is: {d}")
    return

r = input("Enter your roll number: ")
student(r)

Enter your roll number:  4515

Entered roll is: 4515
Entered name is: Tarun
Entered year is: 3
Entered College code is: KEC

In [8]:
def student(a,b="Tarun",c,d="KEC"):
    print(f"Entered roll is: {a}")
    print(f"Entered name is: {b}")
    print(f"Entered year is: {c}")
    print(f"Entered College code is: {d}")
    return

r = input("Enter your roll number: ")
student(r)

SyntaxError: non-default argument follows default argument (4104029224.py, line 1)

In [9]:
def student(a,b="Tarun",c="3",d="KEC"):
    print(f"Entered roll is: {a}")
    print(f"Entered name is: {b}")
    print(f"Entered year is: {c}")
    print(f"Entered College code is: {d}")
    return

r = input("Enter your roll number: ")
n = input("Enter your name: ")
y = int(input("Enter your year: "))
student(r,n,y)

Enter your roll number:  4515
Enter your name:  Manoj
Enter your year:  2

Entered roll is: 4515
Entered name is: Manoj
Entered year is: 2
Entered College code is: KEC

## Required or Positional

In [10]:
def employee(p,q):
    print(f"Entered Employee Id is: {p}")
    print(f"Entered Salary is: {q}")
    return

e = input("Enter employeeid: ")
es = input("Enter salary: ")
employee(e,es)

Enter employeeid:  E45
Enter salary:  34000

Entered Employee Id is: E45
Entered Salary is: 34000

In [11]:
def employee(p,q,y):
    print(f"Entered Employee Id is: {p}")
    print(f"Entered Salary is: {q}")
    print(f"Entered age is: {y}")
    return

e = input("Enter employeeid: ")
es = input("Enter salary: ")
employee(e,es)

Enter employeeid:  E24
Enter salary:  45000

TypeError: employee() missing 1 required positional argument: 'y'

In [12]:
def employee(p):
    print(f"Entered Employee Id is: {p}")
    return

e = input("Enter employeeid: ")
es = input("Enter salary: ")
employee(e,es)

Enter employeeid:  E78
Enter salary:  23000

TypeError: employee() takes 1 positional argument but 2 were given

In [13]:
def employee(p,q="45000"):
    print(f"Entered Employee Id is: {p}")
    print(f"Entered Salary is: {q}")
    return

e = input("Enter employeeid: ")
employee(e)

Enter employeeid:  E34

Entered Employee Id is: E34
Entered Salary is: 45000

## Keyword Argument

In [15]:
def stu(b,a,n,y):
    print("Student Details")
    print(f"Branch: {b}")
    print(f"Name: {n}")
    print(f"Age: {a}")
    print(f"Year: {y}")
    return

name = input("Enter your name: ")
branch = input("Enter your branch: ")
age = int(input("Enter your age: "))
year = int(input("Enter your year: "))
stu(n=name,a=age,y=year,b=branch)

Enter your name:  Rajesh
Enter your branch:  DS
Enter your age:  25
Enter your year:  3

Student Details
Branch: DS
Name: Rajesh
Age: 25
Year: 3

In [16]:
def stu(b,a,z="KEC",n,y):
    print("Student Details")
    print(f"Branch: {b}")
    print(f"Name: {n}")
    print(f"Age: {a}")
    print(f"Year: {y}")
    return

name = input("Enter your name: ")
branch = input("Enter your branch: ")
age = int(input("Enter your age: "))
year = int(input("Enter your year: "))
stu(n=name,a=age,y=year,b=branch)

SyntaxError: non-default argument follows default argument (3276529277.py, line 1)

In [17]:
def stu(b,a,n,y,x):
    print("Student Details")
    print(f"Branch: {b}")
    print(f"Name: {n}")
    print(f"Age: {a}")
    print(f"Year: {y}")
    return

name = input("Enter your name: ")
branch = input("Enter your branch: ")
age = int(input("Enter your age: "))
year = int(input("Enter your year: "))
college = input("Enter college name: ")
stu(n=name,a=age,y=year,b=branch,g=college)

Enter your name:  kiran
Enter your branch:  CSE
Enter your age:  23
Enter your year:  2
Enter college name:  KEC

TypeError: stu() got an unexpected keyword argument 'g'

## Variable Length:

In [19]:
def std(a,*b,**c):
    print(a,type(a))
    print(b,type(b))
    print(c,type(c))
    return

std("23F41A3201",45,89,56,45,12,name="Naresh",age="22")

23F41A3201 <class 'str'>
(45, 89, 56, 45, 12) <class 'tuple'>
{'name': 'Naresh', 'age': '22'} <class 'dict'>

In [20]:
def std(*b,**c):
    print(b,type(b))
    print(c,type(c))
    return

std("23F41A3201",45,89,56,45,12,name="Naresh",age="22")

('23F41A3201', 45, 89, 56, 45, 12) <class 'tuple'>
{'name': 'Naresh', 'age': '22'} <class 'dict'>

In [21]:
def std(*b,**c):
    print(b,type(b))
    print(c,type(c))
    return

std("23F41A3201",45,college="KEC",89,56,45,12,name="Naresh",age="22")

SyntaxError: positional argument follows keyword argument (3815671402.py, line 6)

In [24]:
def std(**c):
    print(c,type(c))
    return

std("23F41A3201",45,89,56,45,12,name="Naresh",age="22")

TypeError: std() takes 0 positional arguments but 6 were given

In [25]:
def std(*b):
    print(b,type(b))
    return

std("23F41A3201",45,89,56,45,12,name="Naresh",age="22")

TypeError: std() got an unexpected keyword argument 'name'

## Data Structures:
    - To organise the data in order or unorder format
    - List
    - Tuple
    - Set
    - String
    - Dictionary

## List:
    - It can be represented as [] and seperated with ,
    - It stores all data type values 
    - It stores data in ordered format
    - It can changes a value
    - It allows duplicate values
    - slicing can be done due to index
    - It can be typcasted as list()

In [26]:
k = []
n = list()
print(k,type(k))
print(n,type(n))

[] <class 'list'>
[] <class 'list'>

In [27]:
n = [78,45.0212,True,None,4+35j,"Lokesh",78,78,78]
print(n,type(n))

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78] <class 'list'>

In [29]:
print(n)
print(n[:])
print(n[::])
print(n[0])
print(n[-4])

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
78
Lokesh

In [33]:
print(n)
print(n[1:])
print(n[-3:])
print(n[:3])
print(n[:-5])

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[78, 78, 78]
[78, 45.0212, True]
[78, 45.0212, True, None]

In [40]:
print(n)
print(n[2:5])
print(n[1:-3])
print(n[4:-3])
print(n[-5:7])
print(n[-7:-3])

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[True, None, (4+35j)]
[45.0212, True, None, (4+35j), 'Lokesh']
[(4+35j), 'Lokesh']
[(4+35j), 'Lokesh', 78]
[True, None, (4+35j), 'Lokesh']

In [41]:
print(n)
print(n[2::])
print(n[:6:])
print(n[::2])
print(n[-2::])
print(n[:-6:])
print(n[::-2])

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[True, None, (4+35j), 'Lokesh', 78, 78, 78]
[78, 45.0212, True, None, (4+35j), 'Lokesh']
[78, True, (4+35j), 78, 78]
[78, 78]
[78, 45.0212, True]
[78, 78, (4+35j), True, 78]

In [44]:
print(n)
print(n[2:7:])
print(n[-2:8:])
print(n[-4:-3:])
print(n[4:-3:])

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[True, None, (4+35j), 'Lokesh', 78]
[78]
['Lokesh']
[(4+35j), 'Lokesh']

In [54]:
print(n)
print(n[2:6:2])
print(n[-5:6:2])
print(n[2:-3:2])
print(n[5:1:-1])
print(n[::-1])

[78, 45.0212, True, None, (4+35j), 'Lokesh', 78, 78, 78]
[True, (4+35j)]
[(4+35j)]
[True, (4+35j)]
['Lokesh', (4+35j), None, True]
[78, 78, 78, 'Lokesh', (4+35j), None, True, 45.0212, 78]

In [56]:
g = [12,56.021,"Manoj",False,None,12,12,4+56j]
for i in range(len(g)):
    print(g[i],type(g[i]))

12 <class 'int'>
56.021 <class 'float'>
Manoj <class 'str'>
False <class 'bool'>
None <class 'NoneType'>
12 <class 'int'>
12 <class 'int'>
(4+56j) <class 'complex'>

In [57]:
for j in g:
    print(j,type(j))

12 <class 'int'>
56.021 <class 'float'>
Manoj <class 'str'>
False <class 'bool'>
None <class 'NoneType'>
12 <class 'int'>
12 <class 'int'>
(4+56j) <class 'complex'>

In [58]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [59]:
k = []
print(k)
k.append(45)
print(k)

[]
[45]

In [60]:
print(k)
k.append(34,67)
print(k)

[45]

TypeError: list.append() takes exactly one argument (2 given)

In [61]:
print(k)
k.append([45,784,54515])
print(k)

[45]
[45, [45, 784, 54515]]

In [62]:
r = []
print(r)
r.extend(45)
print(r)

[]

TypeError: 'int' object is not iterable

In [63]:
r = [] 
print(r)
r.extend([45,23.0212,78])
print(r)

[]
[45, 23.0212, 78]

In [65]:
print(r)
r.insert(5,"Lokesh")
print(r)

[45, 23.0212, 78]
[45, 23.0212, 78, 'Lokesh']

In [66]:
print(r)
r.insert(0,"Kumar")
print(r)

[45, 23.0212, 78, 'Lokesh']
['Kumar', 45, 23.0212, 78, 'Lokesh']

In [67]:
print(r)
r[6] = 45
print(r)

['Kumar', 45, 23.0212, 78, 'Lokesh']

IndexError: list assignment index out of range

In [68]:
print(r)
r[1] = 23.01
print(r)

['Kumar', 45, 23.0212, 78, 'Lokesh']
['Kumar', 23.01, 23.0212, 78, 'Lokesh']

In [69]:
w = [45,89,56,23,12,45,"Prasad",False]
print(w)

[45, 89, 56, 23, 12, 45, 'Prasad', False]

In [70]:
print(w)
w.pop()
print(w)

[45, 89, 56, 23, 12, 45, 'Prasad', False]
[45, 89, 56, 23, 12, 45, 'Prasad']

In [71]:
print(w)
w.pop(1)
print(w)

[45, 89, 56, 23, 12, 45, 'Prasad']
[45, 56, 23, 12, 45, 'Prasad']

In [72]:
print(w)
w.remove(12)
print(w)

[45, 56, 23, 12, 45, 'Prasad']
[45, 56, 23, 45, 'Prasad']

In [73]:
print(w)
del w[2]
print(w)

[45, 56, 23, 45, 'Prasad']
[45, 56, 45, 'Prasad']

In [75]:
m = [450,23,56,89,8]
print(m)

[450, 23, 56, 89, 8]

In [76]:
print(m)
m.sort()
print(m)

[450, 23, 56, 89, 8]
[8, 23, 56, 89, 450]

In [77]:
n = [12,560,89,5,3,45]
print(n)

[12, 560, 89, 5, 3, 45]

In [78]:
print(n)
n.sort(reverse=True)
print(n)

[12, 560, 89, 5, 3, 45]
[560, 89, 45, 12, 5, 3]

In [79]:
v = [23,"Likitha",False,3+5j,None,12.021]
print(v)

[23, 'Likitha', False, (3+5j), None, 12.021]

In [80]:
print(v)
v.reverse()
print(v)

[23, 'Likitha', False, (3+5j), None, 12.021]
[12.021, None, (3+5j), False, 'Likitha', 23]

In [81]:
z = [120,56,23,8,96,120,2]
print(z)
print(z.count(120))
print(z.count(-3))

[120, 56, 23, 8, 96, 120, 2]
2
0

In [82]:
r = [154,12,56]
print(r)
d = r.copy()
print(r)
print(d)

[154, 12, 56]
[154, 12, 56]
[154, 12, 56]

In [83]:
print(r)
print(d)
d.clear()
print(r)
print(d)

[154, 12, 56]
[154, 12, 56]
[154, 12, 56]
[]

In [85]:
z = [120,45.11,"Manikanta",120,False]
print(z)
print(z.index(120))

[120, 45.11, 'Manikanta', 120, False]
0

In [86]:
print(z.index(-10))

ValueError: -10 is not in list

## Tuple:
    - It can be represented as () and seperated with ,
    - It stores all data type values 
    - It stores data in ordered format
    - It can't changes a value
    - It allows duplicate values
    - slicing can be done due to index
    - It can be typcasted as tuple()

In [87]:
h = (12,45.0212,False,None,34+2j,"Bharath",12)
print(h,type(h))

(12, 45.0212, False, None, (34+2j), 'Bharath', 12) <class 'tuple'>

In [88]:
print(h)
print(h[3])
print(h[-2])
print(h[2:])
print(h[:3])
print(h[1:5])
print(h[1:6:2])

(12, 45.0212, False, None, (34+2j), 'Bharath', 12)
None
Bharath
(False, None, (34+2j), 'Bharath', 12)
(12, 45.0212, False)
(45.0212, False, None, (34+2j))
(45.0212, None, 'Bharath')

In [89]:
g = (12,23.021,"Varun",True,None,23+78j)
print(g)

(12, 23.021, 'Varun', True, None, (23+78j))

In [90]:
for i in range(len(g)):
    print(g[i],type(g[i]))

12 <class 'int'>
23.021 <class 'float'>
Varun <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
(23+78j) <class 'complex'>

In [91]:
for i in g:
    print(i,type(i))

12 <class 'int'>
23.021 <class 'float'>
Varun <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
(23+78j) <class 'complex'>

In [92]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [93]:
k = (12,56,45,23,23)
print(k)
print(k.count(23))
print(k.count(-1))

(12, 56, 45, 23, 23)
2
0

In [94]:
print(k)
print(k.index(12))

(12, 56, 45, 23, 23)
0

In [95]:
print(k.index(-200))

ValueError: tuple.index(x): x not in tuple

In [102]:
n=int(input())
if n%2==0:
    if n == 4:
        print("Not Weird")
    elif n>=6 and n<=20:
        print("Weird")
    else:
        print("Not Weird")
else:
    print("Weird")

 24

Not Weird